@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    font: inherit;
}

body {
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 16px;
    background-color: hsl(30, 54%, 90%);
    color: hsl(30, 10%, 34%);
}
.container {
    margin-top: 10vh;
    background-color: white;
    border-radius: 30px;
    max-width: 750px;
    margin-inline: auto;
    
}
.container> * {
    padding: 3rem;
}
.wrapper {
    width: 100%;
    padding-bottom: 0;
}
img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.wrapper > .sec-header, .sec-one-content, .prep-time-box {
    margin-bottom: 1rem;
}
.sec-header {
    color: hsl(14, 45%, 36%);
    font-family: 'YoungSerif';
    font-weight: 400;
    font-size: 1.5rem;
}
.sec-one-content {
    margin-bottom: 2rem;
}
.page-header.sec-header {
    color: hsl(24, 5%, 18%);
    font-size: 2rem;
}
.prep-time-box {
    background-color: hsl(330, 100%, 98%);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 0;
}
.prep-time-header {
    margin-bottom: 10px;
}
li {
    margin-bottom: 1rem;
}
.bold{
    font-weight: 600;
    
}
.bold:not(.prep-time-header) {
    color: hsl(30, 10%, 34%);
}
.prep-time-header > .bold {
    color: hsl(332, 51%, 32%);

}
hr {
    margin-top: 30px;
}

.nutr-content {
    margin-bottom: 1rem;
}
table {
    width: 100%;
    border-spacing: 1rem;
}

@media screen and (max-width: 1000px) {
    .wrapper.first {
        padding: 0;
    }
}